@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*{
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background :#f5f5fa ;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.dash-head{
    font-family: 'Montserrat';
    font-size: 30px;
    color: #cc97ff;
    font-weight: 700;
}

main{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}   

.login{
    max-width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius:6px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.head{
    background: #cc97ff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    margin: 30px;
    padding: 8px;
    border-radius : 5px; 
    text-align: center;
}


.input{
    font-family: 'Montserrat';
    font-weight: bold;
    background: #ffffff;
    border-radius: 6px;
    border: none;
    margin: 20px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}


.icon{
    float: left;
    margin-left: 23px;
    margin-top: 30px;
}

.submit{
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 20px;
    margin-left: 50px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #cc97ff;
    color: #ffffff;
    cursor: pointer;
}